			body { background-color: #ccccff }
			h1.nume { color: blue;}
			h2.sectiuni { color: blue;}
			p {color:  blue;}
			
			table {background-color: blue;}
			ul {background-color: blue;}
			
			table,tr,td,ul { border: 5px solid black ;}
			tr:hover {background-color: yellow; }
			
			h1.nume { font-family: "Helvetica";
				font-style: italic ;
				font-size: 36px;}
			p { font-family: "Courier New";
				font-size: 18px;}
				
			img.profil { border: 2px solid black;
				border-radius: 12px;
				width: 250px;
				display: block;
				padding: 10px;
				margin: left;
				opacity: 0.91;}
		
a.linkAgenda {​​font-style: italic;

 font-size: 24px;}​​


#titluAgenda {font-family: "Arial";
             font-style: italic;
             font-size: 52px;
color: orange;}